/* .scroll {
    max-height: 300px;
    overflow-y: auto;
} */
.scrollbar {
    margin-left: 30px;
    height: 300px;
    width: 305px;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 25px;
  }
  .home{
    position: absolute;
    top: 170px;
    left: 370px;
  }
  /* .home img{
    width: 1100px;
  } */